#Gacha1{
    text-align: center;
    margin-bottom: 100px;
}

#Gacha2{
    text-align: center;
    margin-bottom: 100px;
}

#Gacha3{
    text-align: center;
    margin-bottom: 100px;
}

<!--ガチャ1の画像-->
#Gacha1img{

}

<!--ガチャ2の画像-->
#Gacha2img{

}

<!--ガチャ3の画像-->
#Gacha3img{

}


#contents {
  z-index: 0;
  font-size: 16px;
}
.page-txt {
  margin: 30px 0 0;
  height: 2000px;
}
#modal-open {
  color: #cc0000;
}